In [2]:
#import the pandas library to read a CSV file
import pandas as pd
#import the numpy library to create a numpy array
import numpy as np

In [3]:
data1 = pd.read_csv('hypertension_data.csv')
data2 = pd.read_csv('asthma.csv')
data3 = pd.read_csv('heartxanemia.csv')

In [4]:
data1.info()
data2.info()
data3.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 26083 entries, 0 to 26082
Data columns (total 14 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   age       26083 non-null  float64
 1   sex       26058 non-null  float64
 2   cp        26083 non-null  int64
 3   trestbps  26083 non-null  int64
 4   chol      26083 non-null  int64
 5   fbs       26083 non-null  int64
 6   restecg   26083 non-null  int64
 7   thalach   26083 non-null  int64
 8   exang     26083 non-null  int64
 9   oldpeak   26083 non-null  float64
 10  slope     26083 non-null  int64
 11  ca        26083 non-null  int64
 12  thal      26083 non-null  int64
 13  target    26083 non-null  int64
dtypes: float64(3), int64(11)
memory usage: 2.8 MB
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 316800 entries, 0 to 316799
Data columns (total 19 columns):
 #   Column                   Non-Null Count   Dtype
---  ------                   --------------   -----
 0   Tiredness                316800 non-null  int64
 1   Dry-Cough                316800 non-null  int64
 2   Difficulty-in-Breathing  316800 non-null  int64
 3   Sore-Throat              316800 non-null  int64
 4   None_Sympton             316800 non-null  int64
 5   Pains                    316800 non-null  int64
 6   Nasal-Congestion         316800 non-null  int64
 7   Runny-Nose               316800 non-null  int64
 8   None_Experiencing        316800 non-null  int64
 9   Age_0-9                  316800 non-null  int64
 10  Age_10-19                316800 non-null  int64
 11  Age_20-24                316800 non-null  int64
 12  Age_25-59                316800 non-null  int64
 13  Age_60+                  316800 non-null  int64
 14  Gender_Female            316800 non-null  int64
 15  Gender_Male              316800 non-null  int64
 16  Severity_Mild            316800 non-null  int64
 17  Severity_Moderate        316800 non-null  int64
 18  Severity_None            316800 non-null  int64
dtypes: int64(19)
memory usage: 45.9 MB
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 299 entries, 0 to 298
Data columns (total 13 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   age                       299 non-null    float64
 1   anaemia                   299 non-null    int64
 2   creatinine_phosphokinase  299 non-null    int64
 3   diabetes                  299 non-null    int64
 4   ejection_fraction         299 non-null    int64
 5   high_blood_pressure       299 non-null    int64
 6   platelets                 299 non-null    float64
 7   serum_creatinine          299 non-null    float64
 8   serum_sodium              299 non-null    int64
 9   sex                       299 non-null    int64
 10  smoking                   299 non-null    int64
 11  time                      299 non-null    int64
 12  DEATH_EVENT               299 non-null    int64
dtypes: float64(3), int64(10)
memory usage: 30.5 KB

In [5]:
data1

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal,target
0,57.0,1.0,3,145,233,1,0,150,0,2.3,0,0,1,1
1,64.0,0.0,2,130,250,0,1,187,0,3.5,0,0,2,1
2,52.0,1.0,1,130,204,0,0,172,0,1.4,2,0,2,1
3,56.0,0.0,1,120,236,0,1,178,0,0.8,2,0,2,1
4,66.0,0.0,0,120,354,0,1,163,1,0.6,2,0,2,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
26078,72.0,0.0,0,138,294,1,1,106,0,1.9,1,3,2,0
26079,60.0,1.0,0,144,200,0,0,126,1,0.9,1,0,3,0
26080,68.0,1.0,0,100,234,0,1,156,0,0.1,2,1,3,0
26081,67.0,1.0,1,154,232,0,0,164,0,0.0,2,1,2,0
26082,67.0,0.0,1,130,236,0,0,174,0,0.0,1,1,2,0

In [6]:
data1.drop(['sex','cp','chol','fbs','restecg','thalach','exang','oldpeak','slope','ca','thal'], axis =1, inplace=True)
data1 = data1.rename(columns={'target': 'MALADIE'})
data1 = data1.rename(columns={'trestbps': 'fréquence cardiaque'})

In [7]:
# Transformer la colonne 'MALADIE'
data1['MALADIE'] = data1['MALADIE'].map({1: 'Hypertension'})

# Supprimer les lignes qui ne sont pas 'Hypertension'
data1 = data1[data1['MALADIE'] == 'Hypertension']

In [8]:
data1

        age  fréquence cardiaque       MALADIE
0      57.0                  145  Hypertension
1      64.0                  130  Hypertension
2      52.0                  130  Hypertension
3      56.0                  120  Hypertension
4      66.0                  120  Hypertension
...     ...                  ...           ...
26062  59.0                  130  Hypertension
26063  70.0                  120  Hypertension
26064  76.0                  146  Hypertension
26065  57.0                  130  Hypertension
26066  68.0                  125  Hypertension

[14274 rows x 3 columns]

In [9]:
#data non equilibre
#fusion selon age

In [10]:
data2

,Tiredness,Dry-Cough,Difficulty-in-Breathing,Sore-Throat,None_Sympton,Pains,Nasal-Congestion,Runny-Nose,None_Experiencing,Age_0-9,Age_10-19,Age_20-24,Age_25-59,Age_60+,Gender_Female,Gender_Male,Severity_Mild,Severity_Moderate,Severity_None
0,1,1,1,1,0,1,1,1,0,1,0,0,0,0,0,1,1,0,0
1,1,1,1,1,0,1,1,1,0,1,0,0,0,0,0,1,1,0,0
2,1,1,1,1,0,1,1,1,0,1,0,0,0,0,0,1,1,0,0
3,1,1,1,1,0,1,1,1,0,1,0,0,0,0,0,1,0,1,0
4,1,1,1,1,0,1,1,1,0,1,0,0,0,0,0,1,0,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
316795,0,0,0,0,1,0,0,0,1,0,0,0,0,1,0,0,0,0,0
316796,0,0,0,0,1,0,0,0,1,0,0,0,0,1,0,0,0,0,0
316797,0,0,0,0,1,0,0,0,1,0,0,0,0,1,0,0,0,0,1
316798,0,0,0,0,1,0,0,0,1,0,0,0,0,1,0,0,0,0,1
316799,0,0,0,0,1,0,0,0,1,0,0,0,0,1,0,0,0,0,1

In [ ]:
data1.drop(['Tiredness','Dry-Cough','Difficulty-in-Breathing','Sore-Throat	','restecg','thalach','exang','oldpeak','slope','ca','thal'], axis =1, inplace=True)
data1 = data1.rename(columns={'target': 'MALADIE'})
data1 = data1.rename(columns={'trestbps': 'fréquence cardiaque'})

In [ ]:
from sklearn.ensemble import RandomForestClassifier
from sklearn.model_selection import train_test_split
import pandas as pd

# Assuming you have a DataFrame df with your data
# 'heart_rate', 'oxygen_rate', 'age' are the features
# 'is_stable' is the target (1 if stable, 0 if not)
 
    

df = pd.read_csv('your_data.csv')

X = df[['heart_rate', 'oxygen_rate', 'age']]
y = df['is_stable']

# Split the data into training and test sets
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

# Initialize the model
model = RandomForestClassifier(n_estimators=100)

# Train the model
model.fit(X_train, y_train)

# Now you can use the model to predict if a patient is stable or not
# For example:
patient_data = {'heart_rate': 80, 'oxygen_rate': 98, 'age': 50}
prediction = model.predict([list(patient_data.values())])

if prediction[0] == 1:
    print("The patient is stable.")
else:
    print("The patient is not stable.")
# + maladie chronic